<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Find your Movies</h3>
  </div>

  <ul class="list-unstyled components">

    <div style="width: 80%" class="mx-auto">
      <p class="mt-3">Filter</p>
      <form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>

        <div class="form-group">
          <label for="productName">Movie Name</label>
          <input formControlName="title" type="text" class="form-control" id="productName" placeholder="Name" [ngClass]="{'is-invalid  border-danger':formModel.hasError('minlength','title'), 'border':true}">
          <p class="form-text"  [ngClass]="{'d-none':!formModel.hasError('minlength',['title'])}"  >Please enter 3 or more characters.</p>
        </div>

        <div class="form-group">
          <label for="price">Movie Price</label>
          <input formControlName="price" type="number" class="form-control" id="price" placeholder="Price" [ngClass]="{'is-invalid  border-danger':formModel.hasError('positiveNumber','price'), 'border':true}">
          <p class="form-text" [ngClass]="{'d-none':!formModel.hasError('positiveNumber',['price'])}" >Please enter a positive number</p>
        </div>

        <div class="form-group">
          <label for="productCategory">Movie Category</label>
          <select formControlName="category" class="form-control" id="productCategory">
            <option value="-1">All categories</option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-submit btn-block">Submit</button>
        </div>
      </form>
    </div>

  </ul>
</nav>

