/*.proCard{*/
  /*margin-left: -15px;*/
/*}*/

.title{
  font-family: 'Patua One', cursive;
  color: black;
  font-size: 20px;
}

.price{
  font-family: 'Patua One', cursive;
  color: black;
  font-size: 18px;
}

.description{
  font-family: 'Bree Serif', serif;
  font-size: 18px;
}

.card{
  min-height: 650px;
}
