.title{
  font-family: 'Patua One', cursive;
  color: black;
  font-size: 20px;
}

.price{
  font-family: 'Patua One', cursive;
  color: black;
  font-size: 18px;
}

.description{
  font-family: 'Bree Serif', serif;
  font-size: 18px;
}

.card{
  min-height: 571px;
}

.card-body{
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-header{
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 8px;
}
