<div class="card mt-5">
  <img class="card-img-top" [src]="product?.imageDeatil"/>
    <div style="width: 90%" class="mx-auto mt-3">
     <div class="card-top" >
        <h4 class="float-right">{{product?.price}} CAD</h4>
        <h4>{{product?.title}}</h4>
        <p class="card-des">{{product?.desc}}</p>
    </div>
    <div>
      <p class="float-right card-des">{{comments?.length}} Reviews</p>
      <p>
        <app-stars  [rating]="product?.rating"></app-stars>
      </p>
    </div>
  </div>
</div>

<div class="card bg-light mt-2">
  <div>
    <button class="btn ml-4 my-2" (click)="isCommentHidden = !isCommentHidden">Add your comment</button>
  </div>

  <div class="mx-4 mb-2" [hidden] = isCommentHidden>
    <div><app-stars [(rating)]="newRating" [readonly]="false"></app-stars></div>
    <div>
      <textarea style="width: 100%" [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button class="btn" (click)="addComment()">Submit</button>
    </div>
  </div>

  <div class="card-header" *ngFor="let comment of comments">
    <hr/>
    <div class="col-sm-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="float-right">{{comment.timestamp | date: "medium"}} </span>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
