.btn{
  background-color: #622043;
  color: #F8EEE7;
}

.card-top{
  font-family: 'Patua One', cursive;
  color: black;
  font-size: 20px;
}

.card-des{
  font-family: 'Bree Serif', serif;
  font-size: 18px;
}
